<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/homepage.css">
    <style>
        .category-drop{
            display: none;
        }

        .category-list:hover .category-drop {
            display: block;
        }
        
        .category-drop > li {
            padding: 16px;
        }

        .category-drop > li:hover {
            background-color: rgb(231, 225, 225);
        }

        .redirect-list > li:nth-child(n + 2):hover {
            text-decoration: underline;
        }

        .user-info-tab > button:hover {
            background-color: rgb(180, 50, 50);
            color: white;
        }
    </style>
</head>
<body class="bg-white font-sans text-sm max-h-max">
    <!-- Nav Bar -->
    <nav class="navigation-bar bg-white p-6 px-10 w-full border border-b-2 border-gray">
        <div class="navigation-items flex items-center justify-between">
            <div class="category-list relative">
                <a href="#"><b>TRANG CHỦ</b></a>
            </div>
            <div class="search-and-redirect flex justify-between items-center gap-x-10 z-0">
                <div class="search-bar flex items-center relative">
                    <input 
                    type="text" 
                    class="w-full px-4 py-2 border border-gray-300 rounded-full focus:ring-2 focus:ring-blue-500 focus:outline-none"
                    placeholder="Tìm kiếm"
                    style="min-width: 400px;"
                    >
                    <i class="bi bi-search absolute right-4"></i>
                </div>
                <div class="redirect-bar">
                    <ul class="redirect-list flex justify-between gap-x-10 items-center">
                        <li>
                            <!-- Giỏ hàng -->
                            <a href="#"><i class="bi bi-cart" style="font-size: 20px;"></i></a>
                        </li>
                        <li>
                            <a href="#">THÔNG BÁO</a>
                        </li>
                        <li>
                            <a href="#">NGÔN NGỮ</a>
                        </li>
                        <li>
                            <a href="#">KÊNH NGƯỜI BÁN</a>
                        </li>
                        <li>
                            <a href="#">HỖ TRỢ</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
            <div class="user-info-and-signout pr-20">
                <div class="relative">
                    <i class="user-face bi bi-person-circle" style="font-size: 40px; cursor: pointer;"></i>
                    <div class=" bg-white shadow-md absolute z-40 rounded-lg" style="min-width: 200px; top: 50px; left: -80px;">
                        <div class="user-info-tab flex flex-col space-y-5 border-gray-200 border p-5" style="display: none;">
                            <span>{{username}}</span>
                            <span>Số lượt mua: 242</span>
                            <button type="submit" class="border border-gray-200 rounded-lg" style="border-width: 0.5px;">
                                <a href="/logout">Đăng xuất</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <script>
        const button = document.getElementsByClassName("user-face")[0];
        const window_tab = document.getElementsByClassName("user-info-tab")[0];
        button.addEventListener("click", function() {
            console.log("Button is clicked!");
            console.log(window_tab.style.display);
            if (window_tab.style.display == "flex") {
                window_tab.style.display = "none";
            } else {
                window_tab.style.display = "flex";
                console.log(window_tab.style.display);
            }
        });
    </script>

    <!-- Event Bar -->
    <nav class="event-bar bg-white px-10 w-full border border-b-2 border-gray z-0">
        <ul class="event-list flex py-5 justify-between items-center px-8">
            <li class="flex justify-between items-center space-x-3">
                <a href="#"><span>Sản phẩm Freeship</span></a>
                <i class="bi bi-truck" style="font-size: 25px;"></i>
            </li>
            <li class="flex justify-between items-center space-x-3">
                <a href="#"><span>Top Review</span></a>
            </li>
            <li class="flex justify-between items-center space-x-3">
                <a href="#"><span>Top bán chạy</span></a>
            </li>
            <li class="flex justify-between items-center space-x-3">
                <a href="#"><span>Săn Voucher</span></a>
                <i class="bi bi-ticket-perforated" style="font-size: 25px;"></i>
            </li>
            <li class="flex justify-between items-center space-x-3">
                <a href="#"><span>Đồng giá 29k</span></a>
                <i class="bi bi-journal-text" style="font-size: 25px;"></i>
            </li>
        </ul>
    </nav>

    <!-- Main Content -->
    <div class="p-8 w-full shadow-lg">
        <article class="flex justify-between space-x-8 text-md p-5">
            <form class="filter-bar border-r border-r-gray-200 space-y-5 px-5 py-6" style="max-width: 300px;">
                <h1 style="font-size: 20px;"><b>Bộ lọc tìm kiếm</b></h1>
                <div class="filter-items filter-price flex flex-col">
                    <label for="price-range">Giá (VNĐ):</label>
                    <div class="price-range space-y-2 flex flex-col items-center">
                        <input type="text" name="min-price" id="min-price" placeholder="Giá thấp nhất">
                        <input type="text" name="max-price" id="max-price" placeholder="Giá cao nhất">
                    </div>
                </div>
                <div class="filter-items filter-category flex flex-col">
                    <label for="filter-category">Thể loại:</label>
                    <select name="category" id="category" style="min-width: 70px;">
                        <option value="all">Tất cả</option>
                        <option value="#">Sách nước ngoài</option>
                        <option value="#">Sách trong nước</option>
                        <option value="#">Sách giáo khoa</option>
                        <option value="#">Truyện tranh</option>
                    </select>
                </div>
                <div class="filter-items filter-author flex flex-col">
                    <label for="filter-author">Tác giả:</label>
                    <select name="author" id="author" style="min-width: 70px;">
                        <option value="all">Tất cả</option>
                        <option value="#">A</option>
                        <option value="#">B</option>
                        <option value="#">C</option>
                        <option value="#">D</option>
                    </select>
                </div>

                <div class="filter-items filter-review flex flex-col">
                    <label for="filter-review" class="filter-review pb-3" style="font-size: 15px;">Đánh giá:</label>
                    <label>
                        <input type="radio" name="review" id="review" value="five-star">
                        5 sao
                    </label>

                    <label>
                        <input type="radio" name="review" id="review" value="greater-four-star">
                        4 sao trở lên
                    </label>
                    <label>
                        <input type="radio" name="review" id="review" value="greater-three-star">
                        3 sao trở lên
                    </label>
                </div>
                <div class="filter-button flex justify-between items-center">
                    <button class="bg-blue-600 text-white text-primary-foreground hover:bg-blue-800 rounded-lg px-4 py-2 mr-2">Lọc</button>
                    <button class="rounded-lg px-4 py-2 mr-2 hover:bg-gray-100">Xóa bộ lọc</button>
                </div>

            </form>
            <div class="book-and-sort space-y-10 px-5 py-4">
                <div class="sort-option-box flex justify-between items-center">
                    <span style="font-size: 20px;"><b>Sản phẩm đang bán</b></span>
                    
                    <select name="sort" id="sort-book" style="padding: 8px; border: 1px solid gray; border-radius: 10px;">
                        <option value="1">Giá (từ thấp đến cao)</option>
                        <option value="2">Giá (từ cao đến thấp)</option>
                        <option value="3">Tên sách (A - Z)</option>
                        <option value="4">Tên sách (Z - A)</option>
                    </select>

                    <script>
                        document.getElementById("sort-book").addEventListener("change", function() {
                            var selectedValue = this.value;
                            console.log(selectedValue);

                            fetch("{{url_for('user_sort_page', user=username)}}", {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ option: selectedValue })
                            });
                            
                        });


                        
                    </script>
                </div>
                <div class="books-container" style="flex-grow: 4;">
                    <div class="book-grid-container">
                        {% for book in book_data %}
                        <div class="books-item border border-gray-300 rounded-lg p-3 flex flex-col justify-between items-center">
                            <a href="{{url_for('product_page', sku=book['sku'])}}">
                                <img class="book-cover" src="#" alt="Bìa sách" style="max-width: 140px; max-height: 218px">
                            </a>
                            <div class="book-info flex flex-col" style="padding: 8px;">
                                <a href="#">
                                    <p class="book-name limited-text" style="font-size: 16px; font-weight: 500;">{{book['title']}}</p>
                                </a>
                                <span class="book-author limited-text" style="font-size: 10px; font-weight: 100;">{{book['author']}}</span>
                                <span class="book-price" style="font-weight: 700; color: red;">{{book['price']}} đ</span>
                                <span class="book-score">
                                    {% if book['review_score'] > 0 %}
                                        {% for i in range(book['review_score']) %}
                                        <i class="bi bi-star-fill" style="color: rgb(176, 176, 2);"></i>
                                        {% endfor %}
                                    {% else %}
                                        <i class="bi bi-star"></i>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            
        </article>
        <div class="pagination-bar space-x-8 flex justify-center items-center">
            {% if page_number > 1 %}
            <a href="{{url_for('pagination_user', user=username, page_number=page_number - 1)}}"><i class="bi bi-caret-left-fill" style="cursor: pointer;"></i></a>
            {% endif %}
            {% if max_page - page_number >= 4 %}
            <span class="border border-gray-200 px-2 py-1 rounded-lg bg-gray-200"><a href="{{url_for('pagination_user', user=username, page_number=page_number)}}">{{page_number}}</a></span>
            <span><a href="{{url_for('pagination_user', user=username, page_number=page_number + 1)}}">{{page_number + 1}}</a></span>
            <span><a href="#">...</a></span>
            <span><a href="{{url_for('pagination_user', user=username, page_number=max_page - 1)}}">{{max_page - 1}}</a></span>
            <span><a href="{{url_for('pagination_user', user=username, page_number=max_page)}}">{{max_page}}</a></span>
            {% else %}
            {% if page_number == max_page - 3 %}
            <span class="border border-gray-200 px-2 py-1 rounded-lg bg-gray-200"><a href="{{url_for('pagination_user', user=username, page_number=max_page - 3)}}">{{max_page - 3}}</a></span>
            {% else %}
            <span><a href="{{url_for('pagination_user', user=username, page_number=max_page - 3)}}">{{max_page - 3}}</a></span>
            {% endif %}
            
            {% if page_number == max_page - 2 %}
            <span class="border border-gray-200 px-2 py-1 rounded-lg bg-gray-200"><a href="{{url_for('pagination_user', user=username, page_number=max_page - 2)}}">{{max_page - 2}}</a></span>
            {% else %}
            <span><a href="{{url_for('pagination_user', user=username, page_number=max_page - 2)}}">{{max_page - 2}}</a></span>
            {% endif %}

            {% if page_number == max_page - 1 %}
            <span class="border border-gray-200 px-2 py-1 rounded-lg bg-gray-200"><a href="{{url_for('pagination_user', user=username, page_number=max_page - 1)}}">{{max_page - 1}}</a></span>
            {% else %}
            <span><a href="{{url_for('pagination_user', user=username, page_number=max_page - 1)}}">{{max_page - 1}}</a></span>
            {% endif %}

            {% if page_number == max_page %}
            <span class="border border-gray-200 px-2 py-1 rounded-lg bg-gray-200"><a href="{{url_for('pagination_user', user=username, page_number=max_page)}}">{{max_page}}</a></span>
            {% else %}
            <span><a href="{{url_for('pagination_user', user=username, page_number=max_page)}}">{{max_page}}</a></span>
            {% endif %}
            {% endif %}
            
            {% if page_number < max_page %}
            <a href="{{url_for('pagination_user', user=username, page_number=page_number + 1)}}"><i class="bi bi-caret-right-fill" style="cursor: pointer;"></i></a>
            {% endif %}
        </div>
    </div>
</body>
<footer>
    <div class="flex flex-wrap justify-between p-4">
        <div class="border border-dashed p-4 w-full md:w-1/3">
            <h2 class="font-bold text-lg mb-2">Tác giả nổi bật</h2>
            <ul class="list-none pl-0">
                <li>Tô Hoài</li>
                <li>Trần Hà My</li>
                <li>Nguyễn Nhật Ánh</li>
                <li>J.K. Rowling</li>
                <li>Hồ Anh Thái</li>
                <li>Nguyễn Trương Quý</li>
                <li>Đỗ Bích Thúy</li>
            </ul>
        </div>
        <div class="border border-dashed p-4 w-full md:w-1/3">
            <h2 class="font-bold text-lg mb-2">Shop nổi bật</h2>
            <ul class="list-none pl-0">
                <li>Kim Đồng</li>
                <li>Nhà sách Kim Anh</li>
                <li>Nhà Nam</li>
                <li>Minh Châu</li>
                <li>Tiệm Sách Ước Mơ</li>
                <li>Bình Minh</li>
                <li>Sách Giấc Mơ</li>
            </ul>
        </div>
        <div class="border border-dashed p-4 w-full md:w-1/3">
            <h2 class="font-bold text-lg mb-2">Theo dõi chúng tôi trên</h2>
            <ul class="list-none pl-0">
                <li><a href="#" class="text-primary space-x-10 hover:underline"><i class="bi bi-facebook" style="font-size: 15px;"></i> Facebook</a></li>
                <li><a href="#" class="text-primary hover:underline"><i class="bi bi-instagram" style="font-size: 15px;"></i> Instagram</a></li>
                <li><a href="#" class="text-primary hover:underline"><i class="bi bi-linkedin"></i> LinkedIn</a></li>
            </ul>
        </div>
    </div>
</footer>
</html>